* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.content {
    margin-top: 30px;
    max-width: 500px;
    width: 100%;
    height: 500px;
    max-height: calc(100vh - 30px);
    position: relative;
    display: flex;
    justify-content: center;
}

.first_form {
    width: 97%;
}

.first_form label {
    font-size: 21px;
    display: block;
}

.first_form input {
    max-width: 100%;
    padding: 8px 16px;
    margin-top: 15px;
    font-size: 21px;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: #6c7482;
    border: 1px solid #CDD9ED;
    background: #fff;
    transition: border .3s ease;
}

.first_form input:focus {
    border: 1px solid gray;
    font-size: 1.3em;
    outline: none;
}

.first_form button {
    max-width: 100%;
    margin-top: 15px;
    width: 341px;
    height: 43px;
    font-size: 21px;
    border-radius: 0;
    background: #007bff;
    border: 1px solid gray;
    cursor: pointer;
}

.result {
    width: 96%;

}

.result span {
    margin-top: 10px;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
}

.result i {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.result button {
    margin-top: 15px;
    width: 50%;
    height: 43px;
    font-size: 19px;
    border-radius: 0;
    background: #007bff;
    border: 1px solid gray;
    cursor: pointer;
}

.hide {
    display: none;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    transform: translateX(-60px);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}